extends ../layout/private

block title
  title トピックの修正｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../../../') ホーム
        li.breadcrumb-item
          a(href='../../') トピック
        li.breadcrumb-item
          a(href='../') 詳細
        li.breadcrumb-item
          a(href='./' aria-current='page') 修正

block main
  #main
