extends ../layout/private

block title
  title 著者の紐付け｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../../../../') ホーム
        li.breadcrumb-item
          a(href='../../../') 記事
        li.breadcrumb-item
          a(href='../../') 詳細
        li.breadcrumb-item
          a(href='./' aria-current='page') 著者の紐付け

block main
  #main
