extends ../layout/private
include ../mixin/search-form
include ../mixin/pagination

block title
  title 記事の一覧｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../') ホーム
        li.breadcrumb-item
          a(href='./' aria-current='page') 記事

block main
  main
    .container
      h1 記事の一覧
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
          a.btn.btn-outline-primary(href='./add/') 登録...
      +search-form(layout.req.query.keyword)
      +page-summary(summary)
      if articles.length >= 1
        nav.mt-3(aria-label='リスト')
          .list-group
            each article in articles
              a.list-group-item.list-group-item-action(href=`./${article.id}/`)
                | #{article.title}
        +pagination(pagination)
