extends ../layout/private

block title
  title トピック紐付けの登録｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='../') トピック紐付け
        li.breadcrumb-item
          a(href='./' aria-current='page') 登録

block main
  #main
