extends ../layout/private

block title
  title ログアウト｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='./' aria-current='page') ログアウト

block main
  main
    .container
      h1 ログアウト
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../../') 戻る
      nav.mt-3(aria-label='メイン')
        .d-grid
          a.btn.btn-primary(href='/public/iam/signout/') システムからログアウトする
