extends ../layout/public

block title
  title ログイン失敗｜技術ブログ管理システム

block main
  main
    .container
      h1.mt-3 ログイン失敗
      nav.mt-3(aria-label='メイン')
        .d-grid
          a.btn.btn-warning(href='/public/iam/signout/') システムからログアウトする
